body {
  margin: 0;
  padding: 0;
  background-color: #FB8B24;
  display: flex;
  flex-direction: column;
}
header {
  height: 100px;
  background-color: #251605;
  box-sizing: border-box;
  border: 0px;
  display: flex;
  align-items: center;
}
header .logo {
  display: flex;
  position: absolute;
  left: 10%;
}
header .logo .icon {
  filter: invert(59%) sepia(56%) saturate(1119%) hue-rotate(343deg) brightness(100%) contrast(98%);
  width: 50px;
  height: 50px;
  background-image: url("img/pistons-cross.svg");
  position: relative;
  top: 22px;
  text-decoration-line: none;
}
header .logo .name {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #FB8B24;
  text-transform: uppercase;
  line-height: 100px;
  padding-left: 5px;
  animation: texe 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
header .menu {
  margin: auto;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100px;
  color: #FB8B24;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  animation: logo 0.33s;
  animation-fill-mode: both;
  z-index: 1;
}
header .menu .price {
  color: #FB8B24;
  padding-inline: 5px;
  text-decoration-line: none;
}
header .menu .price:hover {
  transition: right;
  text-decoration-line: underline;
}
header .menu .map {
  color: #FB8B24;
  padding-inline: 5px;
  text-decoration-line: none;
}
header .menu .map:hover {
  transition: right;
  text-decoration-line: underline;
}
header .menu .reviews {
  color: #FB8B24;
  padding-inline: 5px;
  text-decoration-line: none;
}
header .menu .reviews:hover {
  transition: right;
  text-decoration-line: underline;
}
header .phone_number {
  position: absolute;
  right: 10%;
  display: flex;
  filter: invert(59%) sepia(56%) saturate(1119%) hue-rotate(343deg) brightness(100%) contrast(98%);
}
header .phone_number .tg {
  width: 20px;
  height: 20px;
  background-image: url("img/telegram.svg");
  margin-inline: 6px;
  position: relative;
  top: 3px;
  animation: texet 0.33s;
  animation-fill-mode: both;
}
header .phone_number .vb {
  width: 20px;
  height: 20px;
  background-image: url("img/viber.svg");
  margin-inline: 4px;
  text-align: center;
  position: relative;
  top: 3px;
  animation: texet 0.33s;
  animation-fill-mode: both;
}
header .phone_number .ph {
  width: 20px;
  height: 20px;
  background-image: url("img/phone-call.svg");
  margin-inline: 4px;
  position: relative;
  top: 3px;
  animation: texet 0.33s;
  animation-fill-mode: both;
}
header .phone_number .num {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-left: 4px;
  animation: tex 0.33s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
header .phone_number .menu_i {
  display: none;
  margin-left: 4px;
  width: 20px;
  height: 20px;
  background-image: url("img/menu.svg");
  position: relative;
  top: 3px;
  cursor: pointer;
}
.about_me_box {
  display: flex;
}
.about_me_box .box {
  display: block;
  margin-left: 10%;
  width: 580px;
  margin-top: 100px;
  background: #E1AE89;
  border-radius: 40px;
}
.about_me_box .box .a_m_title {
  display: block;
  margin-top: 39px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.about_me_box .box .about_me {
  margin-top: 8px;
  padding-left: 9.5%;
  padding-right: 9.5%;
  padding-bottom: 55px;
  margin-bottom: 0;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  text-align: justify;
}
.about_me_box .worker {
  right: 10%;
  position: absolute;
  width: 330.32px;
  height: 485px;
  margin-top: 100px;
  border-radius: 40px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  animation: texet 1s;
  animation-fill-mode: both;
  z-index: -1;
}
.title_line {
  width: 100%;
  height: 100px;
  background: #251605;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.title_line .title_why_me {
  position: absolute;
  width: 58%;
  height: 100px;
  left: 57px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FB8B24;
}
.why_me {
  margin-top: 100px;
}
.why_me .why_me_block {
  position: relative;
  margin-right: 20%;
  left: 10%;
  margin-top: 50px;
  background: #E1AE89;
  border-radius: 40px;
}
.why_me .why_me_block .box_name {
  position: relative;
  width: 166px;
  height: 39.25px;
  top: 33.26px;
  padding-left: 57px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 36px;
  text-align: center;
}
.why_me .why_me_block p {
  width: 75.9%;
  padding-left: 57px;
  padding-top: 19px;
  padding-bottom: 33.26px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.popular_services {
  margin-top: 100px;
  margin-bottom: 100px;
}
.popular_services .blocks {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.popular_services .blocks .block {
  width: 560px;
  margin-top: 50px;
  height: 282px;
  background: #E1AE89;
  border-radius: 40px;
}
.popular_services .blocks .block .t {
  width: 100%;
  height: 107px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 107px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}
.popular_services .blocks .block .i {
  width: 120px;
  height: 120px;
  margin-left: 20%;
}
.popular_services .blocks .block span {
  margin-top: -128px;
  margin-left: 50%;
  width: 167px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}
.popular_services .blocks .block a {
  text-transform: uppercase;
  font-size: 25px;
}
.popular_services .other {
  display: block;
  color: black;
  width: 100%;
  height: 100%;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 282px;
  text-align: center;
  align-items: center;
  text-decoration-line: none;
}
.popular_services .other:hover {
  transition: right;
  text-decoration-line: underline;
}
.request {
  width: 39%;
  height: 87px;
  margin: auto;
  background: #251605;
  box-sizing: border-box;
  border-radius: 40px;
}
.request a {
  line-height: 87px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: bold;
  font-size: 30px;
  display: block;
  text-align: center;
  align-items: center;
  color: #FB8B24;
  text-decoration-line: none;
  animation: text_an 1s;
  animation-fill-mode: both;
}
.request a:hover {
  transition: right;
  text-decoration-line: underline;
}
footer {
  margin-top: 100px;
  height: 150px;
  background: #251605;
}
footer .phone_number {
  margin-top: 40px;
  position: absolute;
  right: 10%;
  display: flex;
  filter: invert(59%) sepia(56%) saturate(1119%) hue-rotate(343deg) brightness(100%) contrast(98%);
}
footer .phone_number .ph {
  width: 20px;
  height: 20px;
  background-image: url("img/phone-call.svg");
  margin-inline: 4px;
  position: relative;
  top: 1px;
}
footer .phone_number .num {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-left: 4px;
  animation: mobfooter 1s;
  animation-fill-mode: both;
}
footer .address_block {
  filter: invert(59%) sepia(56%) saturate(1119%) hue-rotate(343deg) brightness(100%) contrast(98%);
  position: absolute;
  right: 10%;
  margin-top: 72px;
  display: flex;
  flex-direction: row;
}
footer .address_block .map {
  width: 20px;
  height: 20px;
  background-image: url("img/map.svg");
  margin-inline: 2px;
  position: relative;
  top: 5px;
}
footer .address_block a {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-left: 4px;
  text-decoration-line: none;
  animation: mobfooter 1s;
  animation-fill-mode: both;
}
footer .address_block a:hover {
  transition: right;
  text-decoration-line: underline;
}
/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #251605;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s;
  font-family: 'Red Hat Text', sans-serif;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #FB8B24;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  transition: right;
  text-decoration-line: underline;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  @keyframes texet {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  @keyframes texe {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  header .phone_number .tg {
    display: none;
  }
  header .phone_number .vb {
    display: none;
  }
  header .phone_number .ph {
    display: none;
  }
}
@media (max-width: 992px) {
  @keyframes tex {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  .box {
    margin-right: 10%;
  }
}
@media (max-width: 576px) {
  @keyframes text_an {
    0% {
      font-size: 30px;
    }
    100% {
      font-size: 20px;
    }
  }
  @keyframes logo {
    0% {
      font-size: 20px;
    }
    100% {
      font-size: 15px;
    }
  }
}
@media (max-width: 480px) {
  @keyframes moblogo {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  @keyframes logo {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  @keyframes texe {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  header {
    height: 60px;
  }
  header .logo {
    display: flex;
  }
  header .logo .name {
    display: block;
    font-size: 15px;
    line-height: 20px;
    margin-top: 6px;
  }
  header .logo .icon {
    position: static;
    height: 30px;
    width: 30px;
  }
  header .menu {
    display: none;
  }
  header .phone_number {
    margin-top: -8px;
  }
  header .phone_number .num {
    display: none;
  }
  header .phone_number .tg {
    display: block;
    margin-inline: 10px ;
  }
  header .phone_number .vb {
    display: block;
    margin-inline: 10px ;
  }
  header .phone_number .ph {
    display: block;
    margin-inline: 10px ;
  }
  header .phone_number .menu_i {
    margin-left: 10px;
    display: block;
  }
  .about_me_box .box {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .about_me_box .box .a_m_title {
    margin-top: 10px;
    font-size: 16px;
  }
  .about_me_box .box .about_me {
    margin-top: -3px;
    padding-left: 9.5%;
    padding-right: 9.5%;
    padding-bottom: 25px;
    font-size: 14px;
  }
  .about_me_box .worker {
    display: none;
  }
  .why_me {
    margin-top: 0px;
  }
  .why_me .title_line {
    height: 50px;
    margin-bottom: 10px;
  }
  .why_me .title_why_me {
    height: 50px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    position: static;
    width: 80%;
  }
  .why_me .why_me_block {
    margin-top: 20px;
    padding-top: 20px;
  }
  .why_me .why_me_block .box_name {
    position: static;
    height: auto;
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    padding-left: 0px;
  }
  .why_me .why_me_block p {
    margin: 0;
    width: auto;
    padding: 8px 9.5% 25px 9.5%;
    font-size: 16px;
  }
  .popular_services {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .popular_services .title_line {
    height: 50px;
    margin-bottom: 10px;
  }
  .popular_services .title_why_me {
    height: 50px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    position: static;
    width: 80%;
  }
  .popular_services .blocks {
    margin-top: 10px;
  }
  .popular_services .blocks .block {
    height: 140px;
    margin-top: 20px;
    padding-top: 17px;
  }
  .popular_services .blocks .block .t {
    display: block;
    width: 100%;
    height: 56px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    align-items: center;
    text-transform: none;
  }
  .popular_services .blocks .block .i {
    width: 60px;
    height: 60px;
  }
  .popular_services .blocks .block span {
    margin-top: -70px;
    width: 167px;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
  }
  .popular_services .blocks .block a {
    font-size: 20px;
    margin-top: -80px;
    text-transform: none;
  }
  .request {
    width: auto;
    height: 36px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
  }
  .request a {
    font-size: 15px;
    line-height: 36px;
  }
  @keyframes texet {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  footer {
    margin-top: 50px;
    height: 60px;
  }
  footer .phone_number {
    margin-top: 5px;
  }
  footer .phone_number .num {
    font-size: 12px;
  }
  footer .phone_number .ph {
    display: none;
  }
  footer .address_block {
    margin-top: 25px;
  }
  footer .address_block a {
    font-size: 12px;
  }
  footer .address_block .map {
    display: none;
  }
}
@media (max-width: 390px) {
  @keyframes texe {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
}
/*# sourceMappingURL=style.css.map */